openapi: 3.0.3
info:
  title: FMP API
  version: stable
servers:
  - url: https://financialmodelingprep.com/stable
security:
  - ApiKeyAuth: []
paths:
  /search-symbol:
    get:
      parameters:
        - in: query
          name: search-symbol
          schema:
            type: string
          required: true
      responses:
        '200':
          description: A list of matching stocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchSymbol'
    tag:
      - search
  /search-name:
    get:
      parameters:
        - in: query
          name: search-symbol
          schema:
            type: string
          required: true
        - in: query
          name: limit
          schema:
            type: integer
          required: false
        - in: query
          name: exchange
          schema:
            type: string
          required: false
      responses:
        '200':
          description: A list of matching stocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchSymbol'
    tag:
      - search
  /analyst-estimates:
    get:
      parameters:
        - in: query
          name: symbol
          schema:
            type: string
          required: true
        - in: query
          name: period
          schema:
            type: string
          required: true
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: A list of analyst financial estimates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialEstimates'
    tag:
      - analyst
  /ratings-snapshot:
    get:
      parameters:
        - in: query
          name: symbol
          schema:
            type: string
          required: true
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: A list of ratings snapshot
          content:
            application/json:
              schema:
                type: object
    tag:
      - analyst
  /grades-latest-news:
    get:
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: A list of analyst financial estimates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
    tag:
      - analyst
  /historical-price-eod/light:
    get:
      parameters:
        - in: query
          name: symbol
          schema:
            type: string
          required: true
        - in: query
          name: from
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: to
          schema:
            type: string
            format: date
          required: false
      responses:
        '200':
          description: A list of historical EOD price data (light)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LightCandle'
    tag:
      - chart
  /historical-price-eod/full:
    get:
      parameters:
        - in: query
          name: symbol
          schema:
            type: string
          required: true
        - in: query
          name: from
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: to
          schema:
            type: string
            format: date
          required: false
      responses:
        '200':
          description: A list of historical EOD price data (full)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FullCandle'
    tag:
      - chart
  /profile:
    get:
      parameters:
        - in: query
          name: symbol
          schema:
            type: string
          required: true
      responses:
        '200':
          description: A list of company profile
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyProfile'
    tag:
      - company
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
  schemas:
    SearchSymbol:
      type: object
      properties:
        symbol:
          type: string
          example: "AAPL"
        name:
          type: string
          example: "Apple Inc."
        currency:
          type: string
          example: "USD"
        exchangeFullName:
          type: string
          example: "NASDAQ Global Select"
        exchange:
          type: string
          example: "NASDAQ"
      required:
        - symbol
        - name
        - currency
        - exchangeFullName
        - exchange
    FinancialEstimates:
      properties:
        symbol:
          type: string
          example: "AAPL"
        date:
          type: string
          format: date
          example: "2029-09-28"
        revenueLow:
          type: number
          format: double
          example: 483092500000
        revenueHigh:
          type: number
          format: double
          example: 483093500000
        revenueAvg:
          type: number
          format: double
          example: 483093000000
        ebitdaLow:
          type: number
          example: 155952166036
        ebitdaHigh:
          type: number
          format: double
          example: 155952488856
        ebitdaAvg:
          type: number
          format: double
          example: 155952327446
        ebitLow:
          type: number
          format: double
          example: 140628295747
        ebitHigh:
          type: number
          example: 140628586847
        ebitAvg:
          type: number
          format: double
          example: 140628441297
        netIncomeLow:
          type: number
          format: double
          example: 139446957701
        netIncomeHigh:
          type: number
          example: 157185372990
        netIncomeAvg:
          type: number
          format: double
          example: 149150359609
        sgaExpenseLow:
          type: number
          format: double
          example: 31694652812
        sgaExpenseHigh:
          type: number
          format: double
          example: 31694718420
        sgaExpenseAvg:
          type: number
          format: double
          example: 31694685616
        epsAvg:
          type: number
          format: double
          example: 9.68
        epsHigh:
          type: number
          format: double
          example: 10.20148
        epsLow:
          type: number
          format: double
          example: 9.05024
        numAnalystsRevenue:
          type: integer
          example: 16
        numAnalystsEps:
          type: integer
          example: 6
      required:
        - symbol
        - date
        - revenueLow
        - revenueHigh
        - revenueAvg
        - ebitdaLow
        - ebitdaHigh
        - ebitdaAvg
        - ebitLow
        - ebitHigh
        - ebitAvg
        - netIncomeLow
        - netIncomeHigh
        - netIncomeAvg
        - sgaExpenseLow
        - sgaExpenseHigh
        - sgaExpenseAvg
        - epsAvg
        - epsHigh
        - epsLow
        - numAnalystsRevenue
        - numAnalystsEps
    News:
      properties:
        symbol:
          type: string
          example: "PYPL"
        publishedDate:
          type: string
          format: date-time
          example: "2025-02-04T19:18:04.000Z"
        newsURL:
          type: string
          format: uri
          example: "https://www.benzinga.com/25/02/43475080/paypal-beats-q4-estimates-as-transaction-margins-and-payment-volume-drive-growth-eyes-2025-growth-with-strong-tmd"
        newsTitle:
          type: string
          example: "PayPal Transaction Margins and Payment Volume Drive Growth, Eyes 2025 Growth With Strong TMD Ahead of Investor Day: Analyst"
        newsBaseURL:
          type: string
          example: "benzinga.com"
        newsPublisher:
          type: string
          example: "Benzinga"
        newGrade:
          type: string
          example: "Overweight"
        previousGrade:
          type: string
          example: "Overweight"
        gradingCompany:
          type: string
          example: "J.P. Morgan"
        action:
          type: string
          example: "hold"
        priceWhenPosted:
          type: number
          example: 77.725
      required:
        - symbol
        - publishedDate
        - newsURL
        - newsTitle
        - newsBaseURL
        - newsPublisher
        - newGrade
        - previousGrade
        - gradingCompany
        - action
        - priceWhenPosted
    LightCandle:
      properties:
        symbol:
          type: string
          example: "AAPL"
        date:
          type: string
          format: date
          example: "2025-02-04"
        price:
          type: number
          example: 232.8
        volume:
          type: integer
          example: 44489128
      required:
        - symbol
        - date
        - price
        - volume
    FullCandle:
      properties:
        symbol:
          type: string
          example: "AAPL"
        date:
          type: string
          format: date
          example: "2025-02-04"
        open:
          type: number
          format: double
          example: 227.2
        high:
          type: number
          format: double
          example: 233.13
        low:
          type: number
          format: double
          example: 226.65
        close:
          type: number
          format: double
          example: 232.8
        volume:
          type: integer
          example: 44489128
        change:
          type: number
          format: double
          example: 5.6
        changePercent:
          type: number
          format: double
          example: 2.46479
        vwap:
          type: number
          format: double
          example: 230.86
      required:
        - symbol
        - date
        - open
        - high
        - low
        - close
        - volume
        - change
        - changePercent
        - vwap
    CompanyProfile:
      type: object
      properties:
        symbol:
          type: string
          example: "AAPL"
        price:
          type: number
          format: double
          example: 232.8
        marketCap:
          type: integer
          example: 3500823120000
        beta:
          type: number
          format: double
          example: 1.24
        lastDividend:
          type: number
          format: double
          example: 0.99
        range:
          type: string
          example: "164.08-260.1"
        change:
          type: number
          format: double
          example: 4.79
        changePercentage:
          type: number
          format: double
          example: 2.1008
        volume:
          type: integer
          example: 0
        averageVolume:
          type: integer
          example: 50542058
        companyName:
          type: string
          example: "Apple Inc."
        currency:
          type: string
          example: "USD"
        cik:
          type: string
          example: "0000320193"
        isin:
          type: string
          example: "US0378331005"
        cusip:
          type: string
          example: "037833100"
        exchangeFullName:
          type: string
          example: "NASDAQ Global Select"
        exchange:
          type: string
          example: "NASDAQ"
        industry:
          type: string
          example: "Consumer Electronics"
        website:
          type: string
          example: "https://www.apple.com"
        description:
          type: string
          example: "Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discov..."
        ceo:
          type: string
          example: "Mr. Timothy D. Cook"
        sector:
          type: string
          example: "Technology"
        country:
          type: string
          example: "US"
        fullTimeEmployees:
          type: string
          example: "164000"
        phone:
          type: string
          example: "(408) 996-1010"
        address:
          type: string
          example: "One Apple Park Way"
        city:
          type: string
          example: "Cupertino"
        state:
          type: string
          example: "CA"
        zip:
          type: string
          example: "95014"
        image:
          type: string
          example: "https://images.financialmodelingprep.com/symbol/AAPL.png"
        ipoDate:
          type: string
          format: date
          example: "1980-12-12"
        defaultImage:
          type: boolean
          example: false
        isEtf:
          type: boolean
          example: false
        isActivelyTrading:
          type: boolean
          example: true
        isAdr:
          type: boolean
          example: false
        isFund:
          type: boolean
          example: false
      required:
            - symbol
            - price
            - marketCap
            - beta
            - lastDividend
            - range
            - change
            - changePercentage
            - volume
            - averageVolume
            - companyName
            - currency
            - cik
            - isin
            - cusip
            - exchangeFullName
            - exchange
            - industry
            - website
            - description
            - ceo
            - sector
            - country
            - fullTimeEmployees
            - phone
            - address
            - city
            - state
            - zip
            - image
            - ipoDate
            - defaultImage
            - isEtf
            - isActivelyTrading
            - isAdr
            - isFund
